#container{
    background-color: rgb(224, 224, 224);
}
#divisore{

padding: 70px;
text-align: center;
color: #800;
font-style:normal;
margin-top: 120px;
}
#ImPro{
    background-color: rgb(0, 1, 36);
    text-align: center;
}
#immagine{
    width: 13vmin;
    margin: 10vmin 10vmax;
    
}