#container{
    background-color: rgb(197, 197, 197);
}
#divisore{
text-align: center;
color: rgb(121, 0, 0);
font-style:normal;
margin: 3vmax;
padding-top: 3vmax;
}
#ImPro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgb(0, 1, 36);
    text-align: center;
    color: white;
}
#immagine{
    width: 13vmin;
    margin: 5vmin;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:active{
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 720px){
    #ImPro{
        display: grid;
        justify-content: space-evenly;
    }
a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:active{
    color: white;
    text-decoration: none;
}
}

.aFig{
    color: white;
}